.our_organisation {
    padding-bottom: 100px;
    .organisation_container {
        @extend %display_between;
        .organisation_left_side,
        .organisation_right_side {
            max-width: 50%;
        }
        .organisation_left_side {
            padding: 0 20px 40px 0;
            h1 {
                font-size: $text_size_XXL;
                line-height: 72px;
                font-weight: $weight_XL;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                @extend %main_color;
                padding-bottom: 25px;
            }
            p {
                @extend %opacity;
                font-size: $text_size_M;
                @extend %line;
                @extend %main_color;
                padding-bottom: 30px;
            }
        }
        .organisation_right_side {
            div {
                max-width: 100%;
                iframe {
                    max-width: 100%;
                }
            }
        }
    }
}