@media (max-width:$width_pc) {
    .our_organisation {
        padding-bottom: 80px;
        .organisation_container {
            .organisation_left_side {
                padding: 0 50px 30px 0;
                h1 {
                    font-size: $text_media_XXL;
                    line-height: 55px;
                    letter-spacing: 4px;
                    padding-bottom: 20px;
                }
                p {
                    font-size: $text_size_S;
                }
            }
        }
    }
}

@media (max-width:$width_tablet) {
    .our_organisation {
        padding-bottom: 50px;
        .organisation_container {
            display: block;
            .organisation_left_side,
            .organisation_right_side {
                max-width: 100%;
            }
            .organisation_left_side {
                padding: 0 0 20px 0;
                h1 {
                    text-align: center;
                    font-size: $text_size_XL;
                    line-height: 55px;
                    letter-spacing: 4px;
                    padding-bottom: 20px;
                }
                p {
                    text-align: center;
                    font-size: $text_size_S;
                    padding: 0 0 30px 0;
                }
            }
            .organisation_right_side {
                div {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width:$width_mobile) {
    .our_organisation {
        padding-bottom: 50px;
        .organisation_container {
            .organisation_left_side {
                padding: 0 0 45px 0;
                h1 {
                    font-size: $text_media_mobile_third;
                    line-height: 55px;
                    letter-spacing: 4px;
                    padding-bottom: 35px;
                }
                p {
                    font-size: $text_media_mobile_second;
                    line-height: 30px;
                    padding: 0 0 30px 0;
                }
            }
        }
    }
}