@media(max-width:$width_pc) {
    body {
        max-width: 100%;
    }
    .container {
        max-width: 980px;
        padding: 0;
    }
}

@media (max-width:$width_tablet) {
    body {
        max-width: 100%;
    }
    .container {
        max-width: 650px;
        padding: 0;
    }
}

@media (max-width:$width_mobile) {
    body {
        overflow-x: hidden;
        max-width: 100%;
    }
    .container {
        max-width: 290px;
    }
}