//font size
$text_size_S:14px;
$text_size_M:16px;
$text_size_L:19px;
$text_size_ml:30px;
$text_size_XL:32px;
$text_size_XXL:55px;
// font size media
$text_media:9px;
$text_media_S:12px;
$text_media_XS:13px;
$text_media_M:14px;
$text_media_L:17px;
$text_media_ml:20px;
$text_media_XL:33px;
$text_media_LL:36px;
$text_media_XXL:46px;
$text_media_mobile:60px;
$text_media_mobile_second:17px;
$text_media_mobile_third:28px;
$text_media_mobile_menu:13px;
$button_text_media:17px;
//line height 
$height_mobile: 40px;
//media 
$width_pc:1024px;
$width_tablet:768px;
$width_mobile:320px;
//opacity
$visible_text:0.8;
$visible_text_mini:0.5;
//font weight
$weight_S:400;
$weight_M:600;
$weight_L:700;
$weight_XL:750;
//color text
$footer_color_text:#b8b8b8;
$header_color_text:#e0e0e0;
$mailing_color_text:#ffffff;
$team_color_text_second:#ffffff;
$contact_color_text:#ffffff;
//bg color
$header_bg_color_menu:#ff3f40;
$team_bg_color:#000000;
$header_bg_color:#f6f2f2;
$mailing_bg_color:#f5f0dd;
$contact_bg_color:#2d2d2d;
$footer_bg_color:#313030;
//border color
$brd_color:#ff2d2d;