@media(max-width:$width_pc) {
    .mailing {
        padding: 100px 0;
        margin-bottom: 100px;
        .container {
            .mailing_container {
                .email {
                    form {
                        input {
                            padding: 20px;
                            width: 46%;
                        }
                    }
                }
                .mailing_info {
                    padding-bottom: 60px;
                    text-align: center;
                    h4 {
                        font-size: $text_media_LL;
                        letter-spacing: 0.025em;
                        padding-bottom: 30px;
                    }
                    p {
                        font-size: $text_size_M;
                    }
                }
            }
        }
    }
}

@media (max-width:$width_tablet) {
    .mailing {
        padding: 80px 0;
        margin-bottom: 100px;
        .container {
            .mailing_container {
                .email {
                    form {
                        input {
                            padding: 20px;
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }
                }
                .mailing_info {
                    padding-bottom: 60px;
                    text-align: center;
                    h4 {
                        font-size: $text_media_LL;
                        letter-spacing: 0.025em;
                        padding-bottom: 30px;
                        line-height: 50px;
                    }
                    p {
                        font-size: $text_media_L;
                    }
                }
            }
        }
    }
}

@media (max-width:$width_mobile) {
    .mailing {
        .container {
            .mailing_container {
                .email {
                    form {
                        input {
                            padding: 20px;
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }
                }
                .mailing_info {
                    h4 {
                        font-size: $text_media_mobile_third;
                        line-height: $height_mobile;
                    }
                    p {
                        font-size: $text_media_mobile_second;
                    }
                }
            }
        }
    }
}