.services {
    padding: 100px 0 80px 0;
    border-bottom: 2px #ececec solid;
    .services_container {
        @extend %display_between;
        .services_left_side,
        .services_right_side {
            max-width: 50%;
        }
        .services_left_side {
            padding-right: 84px;
            h2 {
                opacity: $visible_text;
                font-size: $text_size_XL;
                line-height: 55px;
                font-weight: $weight_L;
                text-transform: uppercase;
                letter-spacing: 0.01em;
                @extend %main_color;
                padding-bottom: 45px;
            }
            p {
                font-size: $text_size_M;
                @extend %line;
                font-weight: $weight_S;
                @extend %main_color;
                padding-bottom: 45px;
            }
        }
        .services_right_side {
            display: flex;
            flex-wrap: wrap;
            .services_wrapper {
                padding: 0 22px 15px 0;
                width: calc(100%/2);
                .services_images {
                    img {
                        max-width: 100%;
                        padding-bottom: 25px;
                    }
                }
                h3 {
                    @extend %opacity;
                    font-size: 24px;
                    line-height: 1.2;
                    font-weight: $weight_M;
                    letter-spacing: 0.01em;
                    @extend %main_color;
                    padding-bottom: 15px;
                }
                p {
                    @extend %opacity;
                    font-size: $text_size_M;
                    @extend %line;
                    font-weight: $weight_S;
                    @extend %main_color;
                }
            }
        }
    }
}